
//Sizing for 4 x 4 board
$boardWidth: 130px;
$boardHeight: 130px;
$circleWidth: 80px;
$circleHeight: 80px;


//Sizing for 8 x 8 board
//$boardWidth: 90px;
//$boardHeight: 90px;
//$circleWidth: 60px;
//$circleHeight: 60px;

//Classic color scheme
$boardColor: green;
$gridColor: #66b266;
$circleDarkColor: black;
$circleDarkShadow: ''; //3d effect for dark disc
$circleLightColor: white;
$circleLightShadow: ''; //3d effect for light disc
$cellValidHover: grey;


//Country home color scheme
//http://www.color-hex.com/
//https://css-tricks.com/circular-3d-buttons/
//$boardColor: #ccb647;
//$gridColor: #e5daa3;
//$circleDarkColor: #ed8b03;
//$circleDarkShadow: 0px 4px 9px #a56102, inset 0px 3px 4px #f2ad4e; //3d effect for dark disc
//$circleLightColor: #95b205;
//$circleLightShadow: 0px 3px 8px #687c03, inset 0px 2px 3px #b4c950; //3d effect for light disc
//$cellValidHover: #e0d390;

h1, h2 {
  text-align: center;
}


table, th, td {
  border-collapse: collapse;
  table-layout: fixed; // to give table a fixed width height regardless of content
  margin:auto;
  width: $boardWidth;
  height: $boardHeight;
  background-color: $boardColor;
  border: 2px solid;
  border-color: $gridColor;
  //text-align: center;
  //font-size: 30px;
}


//Declare circle as a mixin so that it is not duplicated
@mixin circle {
  border-radius: 50%;
  width: $circleWidth;
  height: $circleHeight;
  margin-left:auto; //To center the circle
  margin-right:auto;
  margin-top:auto;
  margin-bottom: auto;

  //padding: 30px;
  /* width and height can be anything, as long as they're equal */
}

.black {
  @include circle;
  //background-color: black;
  background-color: $circleDarkColor;
  box-shadow: $circleDarkShadow;
}

.white {
  @include circle;
  //background-color: whitesmoke;
  background-color: $circleLightColor;
  box-shadow: $circleLightShadow;
}


td.validMove:hover {
  background-color: $cellValidHover;
  border: dashed;
  border-color: white;
}

